.inputs {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

.text-input {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-family: 'Oswald';
    outline: none;
}


.num-input {
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-family: 'Oswald';
    outline: none;
}